<!DOCTYPE html>
<html>
  <head>
    <title>KitchenMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Kitchen Mate</h1>
      <p class="lead">What do you have in your fridge?</p>
      <hr class="my-4">
      <p>Make the most of the ingredients you already have.</p>
    <!--   <a class="btn btn-primary btn-lg" href="#" role="button"></a> -->
    </div>

<div class="mate">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Kitchen Mate</a>
      <% if logged_in? %>
        <%= button_to "Log out", logout_path, method: :delete, class: 'btn btn-primary' %>
      <% end %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes">Recipes</a>
      </li>
    </ul>
  </div>
</nav>
</div>

    <%= yield %>
  </body>
</html>
